/* SHOP DROPDOWNS */

.f-dropdown {
  list-style-type: none !important;
  white-space: nowrap !important;
  font-weight: normal !important;
  font-size: 1.2rem;
}

 .f-dropdown span.dd-buynow {
  color: #f53d09 !important;
}
.f-dropdown li {
  a {
    line-height: 1.2rem;
    font-size: 1rem;
    &:hover {
      color: #FFF;
      background: #222;   
    }
    i {
      float: right;
      font-size: 1.3rem;
    }
  }
}

.imagewrap {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.imagewrap img {
  position: relative;
}

.imagewrap .over {
  display: block;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
}
.imagewrap .under {
  z-index: 3;
}

/* SHOP BLOCKGRID */

.blockgrid li {
}
.blockgrid img {
  border: 5px solid #FFFFFF;
  @include single-box-shadow(0,0,5px,rgba(0,0,0,0.3));
}

.product-item .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: rgba(255,255,255,0);
  opacity: 0;
}
.product-item .overlay .overlay-inner {
  display: inline-table;
  vertical-align: middle;
  height: 100%;
}
.product-item .overlay .overlay-inner h4 {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  top: 20px;
}

/* ANIMATIONS */
.product-item .overlay,
.product-item .overlay .overlay-inner h4 
{
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -wekbit-transition: all 0.3s;
}

.product-item a:hover .overlay {
  background: rgba(255,255,255,0.95);
  opacity: 1;
}
.product-item a:hover .overlay .overlay-inner h4 {
  top: 0;
}


/* PRODUCT PAGE STYLING */

.Product .layout {
  background: #333;
}
.Product .layout p,
.Product .layout i {
  color: #999;
}
.Product .layout h2,
.Product .layout h3,
.Product .layout h4 {
  color: #EEE;
}

.slick.single-item .simpleCart_shelfItem {
  text-align: center;
}
.slick.single-item .simpleCart_shelfItem img {
  display: inline-block;
  margin: 10px 0;
}

.simpleCart_shelfItem img {
  max-height: 420px;
  pointer-events: none;
  @media screen and (max-width: #{upper-bound($small-range)}) {
    max-height: 360px;
  }
}

/* CART STYLING */

.cart-tools {
  margin: 1em 0;
  // text-align: center;
  font-family: $font-family-serif;
  @media screen and ($large-up) {
    margin: 2em 0;
  }

}

.cartwrap {
  table {
    border-spacing: 1px;
    width: 100%;
  }
  table, table tr {
    background: none;
    border: none;
  }
  table tr.headerRow th, table td {
    color: #FFF;
  }
  .itemRow {
    background: rgba(255,255,255,0.1);
  }
  .item-quantity, .item-price, .item-total {
    text-align: center;
    font-weight: bold;
  }
  .cart-totals {
    text-align:center;
    line-height: 1.5em;
  }
  .simpleCart_grandTotal, .simpleCart_shipping, .simpleCart_total {
    font-weight: bold;
  }
  .item-remove {
    width: 40px;
  }
  table tr.headerRow {
    background: #000;
  }
}
