@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,600|Josefin+Slab:300,600);

@import "../../../node_modules/compass-mixins/lib/_compass";

a {
  transform: all 0.3s;
  -moz-transform: all 0.3s;
  -webkit-transform: all 0.3s;
}

$primary-color: #da4601;
$default-text-shadow-color: rgba(black, 0.6);
$default-text-shadow-blur: 4px;
$default-text-shadow-v-offset: 1px;
$default-text-shadow-h-offset: 0px;

$font-family-sans-serif: "Josefin Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: "Josefin Slab", Georgia, Cambria, "Times New Roman", Times, serif;


/* SHADOWS */

$default-box-shadow-color: rgba(0,0,0,0.5);
/* $default-box-shadow-h-offset: 0px !default;
$default-box-shadow-v-offset: 0px !default;
$default-box-shadow-blur: 5px !default;
$default-box-shadow-spread : false !default;
$default-box-shadow-inset : false !default; */


/* BODY STYLING */
$body-bg: #FFFFFF;
$body-font-color: #555555;
$body-font-family: $font-family-sans-serif;

/* GRID */
// $row-width: rem-calc(1000);
$column-gutter: rem-calc(0);

/* IMPORTS */
@import "_presets";
@import "_foundation_settings";
@import "../../../vendor/bower_components/foundation/scss/foundation";
@import "../../../vendor/bower_components/slick.js/slick/slick";

.logo-img {
  max-height: 35px !important;
 }

.logo-home {
  max-height: 250px;
  margin: 2em 0;
}

.button {
  font-family: $font-family-serif;
  text-transform: uppercase;
}

.reveal-modal {
  h1, h2, h3, h4, h5, h6 {
    color: $body-bg;
  }
  color: $dark-grey;
}

footer {
  background: $body-bg;
  padding-top: 1em;
  margin-top: 2em;
  span.divider {
    display: inline-block;
    position: relative;
    height: 1.2em;
    top: 0.2em;
    padding-left: 0.6em;
    margin-left: 0.6em;
    border-left: 1px solid #333;
  }
  .columns {
    text-align: center;
  }
}


.row-fluid {
  min-width: 100% !important;
}

.section-padded {
  padding: 0 30px;
}
.nopadding {
  padding: 0;
}

.layout {
  border-left: 1px solid #EFEFEF;
  background: #F2F2F2;
  min-height: 500px;
}
footer {
  border-top: 1px solid #EFEFEF;
  margin-top: 0;
}

@import "shop";
@import "sidebar";